body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
}

body hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #152C40;
}

body hr.light {
  border-color: #fff;
}

body .loader-wrapper {
  opacity: 1;
  background-color: #ccc;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

body a {
  color: #003F5A;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

body a:hover {
  color: #003f59;
}

body .aboutUs {
  margin-top: 40px;
}

body .bg-primary {
  background-color: #152C40 !important;
}

body .bg-dark {
  background-color: #212529 !important;
}

body .text-faded {
  color: rgba(255, 255, 255, 0.7);
}

body section {
  padding: 8rem 0;
}

body .section-heading {
  margin-top: 0;
  font-family: 'Poppins', sans-serif;
}

body .shadow {
  text-shadow: 4px 0px 11px black;
}

body .services {
  padding: 4rem 0;
  font-size: 1.5rem;
}

body ::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

body ::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

body img::selection {
  color: #fff;
  background: transparent;
}

body img::-moz-selection {
  color: #fff;
  background: transparent;
}

body #git {
  text-decoration: none;
  color: #00A8E8;
}

body #git:hover {
  color: #007EA7;
}

body #mail {
  color: #003F5A;
}

body .cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
}

body .cd-top.cd-top--show,
body .cd-top.cd-top--fade-out,
body .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
}

body .cd-top.cd-top--show {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

body .cd-top.cd-top--fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

body .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  body .cd-top {
    right: 20px;
    bottom: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  body .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

body .contactContainer {
  display: flex;
  flex-wrap: wrap;
}

body .contactContainer input {
  width: 100%;
  padding: 6px;
  margin-bottom: 8px;
}

body .contactContainer textarea {
  width: 100%;
  padding: 6px;
  margin-bottom: 8px;
}

body .contactContainer button {
  background-color: transparent;
  border: none;
  color: white;
  transition: ease 0.5s;
}

body .contactContainer button:hover {
  text-decoration: underline;
  cursor: pointer;
}

body .form {
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  body .contactContainer {
    display: flex;
  }
  body .form {
    width: 50%;
  }
}

body .contactContainer.smallIcon a {
  color: white;
}

body .contactContainer.smallIcon p {
  font-size: 1rem;
}

body .contactContainer.smallIcon .fa {
  font-size: 40px;
  padding-right: 0px;
}

body .icon {
  text-align: center;
  margin: 0 auto;
}

body .caption {
  color: white;
  padding-top: 3em;
  padding-bottom: 0;
}

body .footer {
  background-color: #152C40;
  height: 12em;
  display: flex;
  border-top: 2px solid #00171F;
  align-items: center;
  padding-left: 16px;
  color: white;
  font-size: 1rem;
  box-shadow: 10px 10px 17px 11px rgba(0, 0, 0, 0.75);
}

body .footer p {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

body .footer .footerCaption {
  margin-top: auto;
  margin-bottom: 16px;
  font-weight: bold;
}

body .footer .footerMenuItem {
  padding: 8px;
  font-size: 16px;
  color: white;
  margin: 4px;
}

@media (min-width: 992px) {
  body .footer .footerMenu {
    display: flex;
    justify-content: center;
  }
  body .footer .footerCaption {
    font-weight: bold;
  }
  body .footer .footerMenuItem {
    padding: 8px;
    font-size: 16px;
    color: white;
    margin: 8px;
  }
}

body .cardCustom {
  padding: 24px;
  -webkit-box-shadow: 10px 10px 28px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 28px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 28px 0px rgba(0, 0, 0, 0.75);
}

@media (min-width: 992px) {
  body .cardCustom {
    padding: 46px;
  }
}

body header.masthead .cardCustom p {
  font-size: 1rem;
}

body #contactPar {
  font-size: 1rem;
}

body #contactPar2 {
  font-size: 1rem;
  margin-bottom: 40px;
}

body .google-maps {
  position: relative;
  padding-bottom: 75%;
  overflow: hidden;
}

body .google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

body #googleMaps {
  width: 100%;
  padding: 0;
  height: 300px;
}

@media only screen and (min-width: 1024px) {
  body #googleMaps {
    width: 50%;
    padding: 0;
    height: 400px;
  }
}

body .text-left {
  text-align: left;
}

body .boxShadow {
  box-shadow: 3px -5px 22px 0px rgba(0, 0, 0, 0.75);
}

body .achievementCard {
  padding: 46px;
  margin-top: 16px;
  background-color: #152C40;
  color: white;
}

body #lastAchievement {
  margin-bottom: 16px;
}

body #five {
  text-align: center;
}

body .contactButton {
  border: 5px solid #152C40;
  padding: 16px;
  font-size: 22px;
}

body .contactButton:hover {
  background-color: #152C40;
  color: white;
  text-decoration: none;
}

@media only screen and (min-width: 1024px) {
  body .contactButton {
    font-size: 32px;
  }
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: Poppins, sans-serif;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

#mainNav .navbar-brand-link {
  width: 50px;
  height: 50px;
}

#mainNav .navbar-brand {
  width: 100%;
}

#mainNav .hideBrand {
  display: none;
}

#mainNav .navbar-nav .navbar-phone {
  border: 2px solid white;
  transition: ease 0.2s;
}

#mainNav .navbar-nav .navbar-phone:hover {
  cursor: pointer;
  background-color: white;
}

#mainNav .navbar-nav .navbar-phone:hover > #cellButton {
  color: #152C40;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #007EA7;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #007EA7 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
    height: 8em;
  }
  #mainNav .navbar-brand-link {
    width: 97px;
    height: 97px;
    position: absolute;
    top: -30px;
  }
  #mainNav .navbar-phone {
    border: 1px solid white;
  }
  #mainNav .container {
    position: relative;
  }
  #mainNav .navbar-brand {
    width: 100%;
    padding-top: 0px;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #003F5A;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #003f59;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #003F5A;
  }
}

#secondaryNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

#secondaryNav .navbar-brand-link {
  width: 50px;
  height: 50px;
}

#secondaryNav .navbar-brand {
  width: 100%;
}

#secondaryNav .navbar-nav .navbar-phone {
  border: 2px solid white;
  transition: ease 0.2s;
}

#secondaryNav .navbar-nav .navbar-phone:hover {
  cursor: pointer;
  background-color: white;
}

#secondaryNav .navbar-nav .navbar-phone:hover > #cellButton {
  color: #152C40;
}

#secondaryNav .navbar-nav > li.nav-item > a.nav-link,
#secondaryNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

#secondaryNav .navbar-nav > li.nav-item > a.nav-link:hover,
#secondaryNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #007EA7;
}

#secondaryNav .navbar-nav > li.nav-item > a.nav-link.active,
#secondaryNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #007EA7 !important;
  background-color: transparent;
}

#secondaryNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#secondaryNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #secondaryNav {
    border-color: transparent;
    background-color: #152C40;
    height: 8em;
  }
  #secondaryNav .navbar-brand-link {
    width: 97px;
    height: 97px;
    position: absolute;
    top: -30px;
  }
  #secondaryNav .container {
    position: relative;
  }
  #secondaryNav .navbar-brand {
    width: 100%;
    padding-top: 0px;
  }
  #secondaryNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #secondaryNav .navbar-nav > li.nav-item > a.nav-link,
  #secondaryNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #secondaryNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #secondaryNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
  #secondaryNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #secondaryNav.navbar-shrink .navbar-brand {
    color: #003F5A;
  }
  #secondaryNav.navbar-shrink .navbar-brand:focus, #secondaryNav.navbar-shrink .navbar-brand:hover {
    color: #003f59;
  }
  #secondaryNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #secondaryNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #secondaryNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #secondaryNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #003F5A;
  }
}

header.masthead {
  padding-bottom: calc(10rem - 56px);
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.2), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #152C40;
}

header.masthead .fa {
  font-size: 60px;
  -webkit-transition: font-size 2s;
  transition: color 0.5s;
  padding-right: 20px;
  color: white;
}

header.masthead #frontEnd {
  font-family: 'Poppins', sans-serif;
}

header.masthead .fa:hover {
  color: #152C40;
}

header.masthead #front {
  padding-bottom: 20px;
}

header.masthead h1 {
  font-size: 1.7rem;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 24px;
}

header.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 4rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}

.mainPageMasthead {
  background-image: url("https://images.unsplash.com/photo-1590530402014-bbc33e70e617?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=3300&q=80");
  padding-top: 10em;
  height: 80vh;
}

@media (min-width: 992px) {
  .mainPageMasthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .mainPageMasthead h1 {
    font-size: 4rem;
  }
}

@media (min-width: 1200px) {
  .mainPageMasthead h1 {
    font-size: 4rem;
  }
}

#aboutUsMasthead {
  background-image: url("https://images.unsplash.com/39/lIZrwvbeRuuzqOoWJUEn_Photoaday_CSD%20(1%20of%201)-5.jpg?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80");
  padding-top: 8rem;
}

@media (min-width: 992px) {
  #aboutUsMasthead {
    padding-top: 5rem;
    height: 120vh;
    min-height: 650px;
    padding-bottom: 0;
  }
  #aboutUsMasthead h1 {
    font-size: 4rem;
  }
}

@media (min-width: 1200px) {
  #aboutUsMasthead h1 {
    font-size: 4rem;
  }
}

#contactMasthead {
  background-image: url("https://images.unsplash.com/photo-1544386978-f09d9ee45654?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=3294&q=80");
  padding-top: 8rem;
}

@media (min-width: 992px) {
  #contactMasthead {
    padding-top: 6rem;
    height: 80vh;
    min-height: 650px;
    padding-bottom: 0;
  }
  #contactMasthead h1 {
    font-size: 4rem;
  }
}

@media (min-width: 1200px) {
  #contactMasthead h1 {
    font-size: 4rem;
  }
}

#offerMasthead {
  background-image: url("https://images.unsplash.com/photo-1499343245400-cddc78a01317?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80");
  padding-top: 8rem;
}

@media (min-width: 992px) {
  #offerMasthead {
    padding-top: 5rem;
    height: 180vh;
    min-height: 650px;
    padding-bottom: 0;
  }
  #offerMasthead h1 {
    font-size: 4rem;
  }
}

@media (min-width: 1200px) {
  #offerMasthead h1 {
    font-size: 4rem;
  }
}

#pricesMasthead {
  background-image: url("https://images.unsplash.com/photo-1450101499163-c8848c66ca85?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=3300&q=80");
  padding-top: 8rem;
  height: 100vh;
}

@media (min-width: 992px) {
  #pricesMasthead {
    padding-top: 5rem;
    height: 100vh;
    min-height: 650px;
    padding-bottom: 0;
  }
  #pricesMasthead h1 {
    font-size: 4rem;
  }
}

@media (min-width: 1200px) {
  #pricesMasthead h1 {
    font-size: 4rem;
  }
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}

.portfolio-box img {
  display: block;
  width: 100%;
}

.portfolio-box .portfolio-box-caption {
  position: absolute;
  background-position: center center;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(0, 63, 90, 0.9);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .wrapper-four {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .logo-left {
  justify-self: end;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .logo-right {
  justify-self: start;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .logo {
  width: 40%;
  padding-top: 0.5em;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content #logo1,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content #logoNode {
  justify-self: end;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content #logo2 {
  justify-self: start;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content #logo2gulp {
  justify-self: start;
  width: 20%;
  padding-left: 0.5em;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .wrapper-one {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .wrapper-one #logoJS {
  grid-column: 2/4;
  padding-top: 1em;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
  margin-right: 20%;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

.portfolio-box:focus {
  outline: none;
}

@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 14px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}

.portfolio {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.portfolioItem {
  flex-grow: 1;
  width: 50%;
  height: 32em;
  min-width: 20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #007EA7;
  opacity: 1;
}

.portfolioItem .imgDiv {
  display: flex;
  justify-content: center;
}

.portfolioItem .available {
  font-size: 0.6em;
  opacity: 0;
  transition: 0.1s ease;
}

.portfolioItem .par {
  color: white;
  font-size: 1.5em;
  font-weight: 600;
  text-shadow: 5px -1px 8px black;
  margin: 0;
}

.portfolioItem .seeMore {
  color: white;
  font-size: 1em;
  text-shadow: 5px -1px 8px black;
}

.portfolioItem .seeMore:hover {
  text-decoration: underline;
  color: #00A8E8;
  cursor: pointer;
}

@media only screen and (min-width: 350px) {
  .seeMoreContent {
    margin: 30px;
  }
  .par {
    font-size: 2em;
  }
}

@media only screen and (min-width: 600px) {
  .seeMoreContent {
    margin: 32px;
  }
  .portfolioItem {
    height: 25em;
  }
}

.seeMoreContent {
  display: block;
  color: white;
  text-shadow: 5px 2px 4px black;
  text-align: center;
  margin: 22px;
}

.hideMoreContent {
  display: none;
}

#one {
  background-image: url("../img/portfolio/thumbnails/zdrad_blu.jpg");
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
}

#two {
  background-image: url("../img/portfolio/thumbnails/posz_blu.jpg");
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
}

#three {
  background-image: url("../img/portfolio/thumbnails/biznes_blu.jpg");
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
}

#three img {
  width: 80%;
  opacity: 0;
  transition: 0.1s ease-in;
}

#three:hover img {
  opacity: 1;
}

#four {
  background-image: url("../img/portfolio/thumbnails/poszukiwania_blu.jpg");
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
}

#five {
  background-image: url("../img/portfolio/thumbnails/majatek_blu.jpg");
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
}

#five img {
  width: 70%;
  opacity: 0;
  transition: 0.1s ease-in;
}

#five:hover img {
  opacity: 1;
}

#six {
  background-image: url("../img/portfolio/thumbnails/podsluch_blu.jpg");
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
}

.text-primary {
  color: #003F5A !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #003F5A;
  border-color: #003F5A;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #002d41 !important;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}
